-content_for :javascript do
  :javascript
    var Strftime = {
      convert: function() {
        var today = new Date();
        format = document.getElementById('format').value;
        document.getElementById('result').innerHTML = today.strftime(format);
      }
    }
    document.observe("dom:loaded", function() {
      Strftime.convert();
    });
#wrapper
  %h1 STRFULAR
  #box
    %form#format_form{:action => '#'}
      =text_field_tag :format, "%d/%m/%Y"
    %p#result result
  :javascript
    new Form.Observer('format_form', 0.3, function(form, value){
        Strftime.convert();
    })
  #help
    %dl
      %p Dates
      %dt %a
      %dd The abbreviated weekday name ("Sun")
      %dt %A
      %dd The full weekday name ("Sunday")
      %dt %b
      %dd The abbreviated month name ("Jan")
      %dt %B
      %dd The full month name ("January")
      %dt %C
      %dd The century number (00..99)
      %dt %d
      %dd Day of the month (01..31)
      %dt %e
      %dd Day of the month without a leading zero (1..31)
      %dt %h
      %dd The same as %b
      %dt %j
      %dd Day of the year (001..366)
      %dt %m
      %dd Month of the year (01..12)
      %dt %u
      %dd Day of the week (Monday is 1, 1..7)
    %dl
      %br
      %dt %U
      %dd Week number of the current year, starting with the first Sunday as the first day of the first week (00..53)
      %dt %W
      %dd Week number of the current year, starting with the first Monday as the first day of the first week (00..53)
      %dt %w
      %dd Day of the week (Sunday is 0, 0..6)
      %dt %x
      %dd Preferred representation for the date alone, no time
      %dt %y
      %dd Year without a century (00..99)
      %dt %Y
      %dd Year with century
    %dl  
      %p Times
      %dt %H
      %dd Hour of the day, 24-hour clock (00..23)
      %dt %I
      %dd Hour of the day, 12-hour clock (01..12)
      %dt %M
      %dd Minute of the hour (00..59)
      %dt %p
      %dd Meridian indicator ("AM"  or  "PM")
      %dt %P
      %dd Lower case Meridian indicator ("am"  or  "pm")
      %dt %S
      %dd Second of the minute (00..60)
      %dt %x
      %dd Preferred representation for the date alone, no time
      %dt %X
      %dd Preferred representation for the time alone, no date
      %dt %Z
      %dd Time zone name
      %dt %z
      %dd Numerical time zone
    %dl
      %p Formatted dates and times
      %dt %c
      %dd The preferred local date and time representation
      %dt %D
      %dd The same as m/d/y
      %dt %n
      %dd New line character
      %dt %r
      %dd The time with AM and PM, (same as I:M:S p)"
      %dt %T
      %dd Current time (same as H:M:S)
      %dt %%
      %dd Literal "%" character
    %dl
      %p Misc.
      %dt %n
      %dd New line character
      %dt %t
      %dd Tab character
      %dt %%
      %dd Literal "%" character
    %br.clear
  #footer
    ="Inspired by #{link_to("Rubular", "http://www.rubular.com")} and #{link_to("strfti.me", "http://www.strfti.me")}, powered by #{link_to("strftime for Javascript", "http://hacks.bluesmoon.info/strftime/index.html")} and built by #{link_to("Matt Atkins", "http://www.twitter.com/matkins")} of #{link_to("Yoomee", "http://www.yoomee.com")}."
    


-#
  %p="%V - The ISO 8601:1988 week number of the current year as a decimal number, range 01 to 53, where week 1 is the first week that has at least 4 days in the current year, and with Monday as the first day of the week."